<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="https://use.fontawesome.com/27787fccc5.js"></script>

  <title>Profile</title>

  <!-- Bootstrap core CSS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  
  

  <!-- Custom styles for this template -->
  <!-- <link href="https://css/blog-home.css" rel="stylesheet"> -->
  <link href="../../static/css/candidate_profile.css" rel="stylesheet" id="bootstrap-css">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/candidate_dashboard">Recruitment Portal</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="navbar-brand exp" href="/appliedjobs">Applied Jobs <i class="fa " aria-hidden="true"></i>
              <!-- <span class="sr-only">(current)</span> -->
            </a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand exp" href="/profile">Profile <i class="fa fa-user" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand exp" href="/logout">Log Out<i class="fa fa-sign-in" aria-hidden="true"></i></a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>

<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    {%if profile['photo']!= None %}
                    <img src="../../static/profile_images/{{profile['photo']}}" alt="Image"/>
                    {%else%}
                    <img src="../../static/profile_images/index.jpg" alt="Image"/>
                    {%endif%}
                </div>
            </div>
            <div class="col-md-4">
                <div class="profile-head">
                            <h5>
                                {{profile['name']}}
                            </h5>
                            <h6>
                                {{profile['description']}}, {{profile['company']}}
                            </h6>
                </div>
            </div>
            
            
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="container profile-work">
                    <p></p>
                    <a href="{{profile['linkedin']}}" target="_blank">Linkedin <i class="fa fa-linkedin-square" aria-hidden="true"></i></a><br/>
                    <!-- <a href="">Github <i class="fa fa-github-square" aria-hidden="true"></i></a> -->
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{profile['name']}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{profile['email']}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{profile['contact_no']}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Experience</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{profile['experience']}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Address</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{profile['address']}}</p>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </form>     

</div>
<footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>  
</body>

</html>
